apiVersion: v1
kind: Secret
metadata:
  name: mail-sender-cfg
  labels:
    tmax.io/partof: mail-notifier
type: Opaque
stringData:
  smtpServer: <SMTP Address (IP:PORT)>
  smtpUserId: <SMTP User ID>
  smtpUserPw: <SMTP User PW>
